.card {
    /* height: 213px; */
    margin-top: 4px;
    border-radius: 8px;
    background: rgba(204, 204, 204, 0.63);
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 0;
    /* to avoid jump : */
    border: 1px transparent solid;
}

.card:hover {
    border: 1px black solid;
}

.ellipse-space {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse-educ {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: aquamarine;
    text-align: center;
    line-height: 29px;
    text-align: right;
}

.info {
    line-height: 0.6em;
}

.cursus {}