.card {
    /* height: 213px; */
    margin-top: 12px;
    border-radius: 8px;
    background: rgba(204, 204, 204, 0.11);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover {
    border: 1px black solid;
}

.ellipse-educ {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: aquamarine;
}

.info {
    line-height: 1em;
}

.cursus {}