.resume-reminder {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    width: 557px;
    height: 737px;
    padding: 10% 0 0px 30%;
    /* -webkit-backdrop-filter: blur(81.55px) brightness(100%); */
    /* backdrop-filter: blur(81.55px) brightness(100%); */
    /* background-color: var(--x03-blurbackground-03); */
    border-radius: 20px;
}

.background-panel {
    /* -webkit-backdrop-filter: blur(81.55px) brightness(100%);
    backdrop-filter: blur(81.55px) brightness(100%); */
    /* background-color: var(--x03-blurbackground-03); */
    /* box-shadow: var(--03-blur-background-03); */
    border-radius: 20px;
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 166px;
}


/* ##########  MAIN PANEL ########## */

.main-panel {
    width: 340px;
    height: 752px;
    background-color: #282B2B;
    border-radius: 0 20px 20px 0;
    /* box-shadow: 0px 5px 5px grey; */
}

.main-panel,
.side-panel {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2)
}

/* ##########  SIDE PANEL ########## */

.side-panel {
    width: 239px;
    height: 752px;
    background-color: #292B2B;
    opacity: 0.7;
    border-radius: 20px 0 0 20px;
    padding: 0 8px 0 8px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

/* ###  BUTTONS #### */
.buttons {
    width: 37px;
    height: 10px;
    margin: 14px 0 0 14px;
    display: flex;
    justify-content: space-between;
}

.buttons .ellipse1,
.ellipse2,
.ellipse3 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.ellipse1 {
    background-color: #EC6A5E;
}

.ellipse2 {
    background-color: #F4BF4F;
}

.ellipse3 {
    background-color: #61C554;
}

.ellipse {
    text-align: center;
    line-height: 7px;
}

.hover_class {
    color: black;
    font-size: smaller;
}

.ellipse .hover_class {
    visibility: hidden;
}

.buttons:hover .hover_class {
    visibility: visible;
    cursor: pointer;
}

/* ###  SEARCHBAR #### */

.search-bar {
    width: 213px;
    height: 26px;
    margin-top: 12px;
    border-radius: 8px;
    background: rgba(204, 204, 204, 0.11);
    color: rgba(255, 255, 255, 0.486);
    border: 1px solid #ffffff1c;
}

/* ###  subsection #### */

.subsection {
    /* width: 218px; */
    height: 610px;
    margin-top: 7px;
}

/* ###  education #### */

.education {
    /* height: 178px; */
    display: flex;
    flex-direction: column;

}

.title-2 {
    color: white;
    opacity: 0.5;
    font-weight: bold;
    margin-left: 8px;
}

/* ###  links #### */

.icon {
    width: 25px;
    height: 25px;
}


/* ###  skills #### */

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill_title {
    flex-basis: 100%;
}