.mail-link {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    opacity: 0.5;
    font-size: 0.6em;
}

@media (width > 760px) {
    .main-panel {
        border-radius: 0 20px 20px 0;
        width: 70%;
        max-width: 600px;
    }

    .frame {
        overflow-y: auto;
        height: 100%;
        scrollbar-width: none;
    }

    .work-projects {
        padding: 10px 22px 0 22px;
        height: 575px;
    }

    .title {
        padding: 0px 0px 0px 18px;
    }
}

/* end media query > 760px */

.main-panel {
    min-width: 330px;
    /* height: 690px; */
    background-color: rgba(40, 43, 43, 0.675);
    margin-left: -0.5px;
    box-shadow: 0px 5px 5px grey;
}

.main-panel,
.side-panel {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2)
}

.panel-dark {
    background-color: rgba(41, 43, 43, 0.451);
}

.panel-light {
    background: none;
}

.frame {
    /* opacity: 0.7; */
    border-radius: 12px 12px 0px 0px;
    padding: 3px 8px 0px 8px;
}

/* #### TITLE ##### */

h1 {
    margin: 38px 0px 3px 13px;
}

.subtitle {
    font-size: 19px;
    margin: 0px 0px 3px 13px;
    display: flex;
    flex-wrap: wrap;
}

.second-text {
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.6em;
}

/* #### WORK ##### */

.work {
    /* color: #FF4365; */
    color: "#DBA9EC";
}

.projects {
    /* color: #F7F7BC; */
    color: "#DBA9EC";
}

/* #C03221 red */

.interstice {
    margin: 4px 0 4px 0;
}