.main-panel {
    width: 400px;
    min-width: 330px;
    height: 752px;
    background-color: #282B2B;
    border-radius: 0 20px 20px 0;
    margin-left: -1px;
    /* box-shadow: 0px 5px 5px grey; */
}

.main-panel,
.side-panel {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2)
}

/* #### TITLE ##### */

h1 {
    margin: 38px 0px 3px 13px;
}

.subtitle {
    margin: 0px 0px 3px 13px;
    display: flex;
}

.second-text {
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.6em;
}

.work-projects {
    padding: 0 8px 0 8px;
}


/* #### WORK ##### */

.work {
    color: #FF4365;
}

.projects {
    color: #F7F7BC;
}

/* #C03221 red */

.interstice {
    margin: 4px 0 4px 0;
}