@import url(./font.css);
/* TODO: fix font-face SF Pro ) -> dl another one ? */
/* tuto:    https://dev.to/ziqinyeow/how-to-add-custom-font-file-to-your-react-app-31kb */

#root {
  /* font-family: SF-Pro, sans-serif; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.circleLogo {
  width: 19px;
  height: 19px;
}

.circleLogoFilled {
  position: relative;
  display: block;
  cursor: pointer;
}

/* // make icons position absolute and sticky on the right side  */
.icons {
  position: absolute;
  right: 0;
  top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 1em;
  z-index: 100;
  width: fit-content;
  padding-left: auto;
  --color-1: hsl(1deg, 96%, 55%);
  --color-2: hsl(25deg, 100%, 50%);
  --color-3: hsl(40deg, 100%, 50%);
  background: linear-gradient(170deg, var(--color-1), var(--color-2), var(--color-3));
  border-radius: 8px 0px 0px 8px;
}

/* #### FILTERS ####### */

.filter-white {
  filter: invert(100%);
  opacity: 0.8;
  align-self: center;
}

.filter-black {
  filter: invert(50%);
  opacity: 0.8;
}

h1 {
  filter: drop-shadow(0 0 0.75rem rgb(242, 127, 27));
}


/* ///// ANIMATION ////  */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {

  .logo {
    animation: logo-spin infinite 1s linear;
  }

}

.circleLogoFilled:hover:hover,
.circleLogoFilled:active {
  /* animation: bounce 0.6s ease;
  -webkit-animation: bounce 0.6s ease; */
}

@keyframes bounce {
  0% {
    top: 0px;
  }

  25% {
    top: -10px;
  }

  50% {
    top: 5px;
  }

  75% {
    top: -5px;
  }

  100% {
    top: 0px;
  }
}

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }

  25% {
    top: -10px;
  }

  50% {
    top: 5px;
  }

  75% {
    top: -5px;
  }

  100% {
    top: 0px;
  }
}