@media (width > 760px) {

    .article {
        border-bottom: 1px #4b5359 solid;
    }

    .article-space {
        margin: 20px 0px 20px 35px;
    }

    .content-job {
        margin: 20px 0px 3px 0px;
    }
}

@media (width <=759px) {
    .content-job {
        margin: 5px 0px 3px 0px;
    }

    .article-space {
        margin: 4px 0px 20px 6px;
    }
}

.content-job {
    justify-content: flex-start;
    flex-direction: column;
    /* justify-content: space-around; */
}

.link-space {
    margin-left: 8px;
}

.job {
    font-size: small;
    font-weight: bold;
}

.info-job {
    margin: 4px 0px 0px 0px;
    font-size: 10px;
    font-weight: bold;
    flex-wrap: wrap;
}

.description {
    margin: 4px 0px 0px 0px;
}

.technos {
    flex-wrap: wrap;
    margin-left: 10px;
}